@page "/BmiSimple"

<h3>BimSImple</h3>

<table class="table">
    <tr>
        <td>Name</td>
        <td>@bmi.Name</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>@bmi.Height</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>@bmi.Weight</td>
    </tr>
</table>
<div style="font-size: @bmi.fontSize">
    計算結果は @bmi.Bmi です
</div>

<Copyright name1="abc" name2="xyz"/>

